@import "base/_vars.scss";

.header{
    position: fixed;
    min-width: 100%;
    padding: 17px 0 10px;
    z-index: 999;
    &.activeChange{
        background-color: var(--bg-color)
    }
    &__inner{
        display: flex;
        gap:clamp(1.25rem, -0.455rem + 7.27vw, 5rem);
        align-items: center;
    }
    &__link{
        margin-left: auto;
        @extend %btn;
    }
    @media(max-width:767px){
        &__logo{
            position: relative;
            order: -1;
            z-index: 10
        }
        &__inner{
            .header__link{
                display: none;
            }
        }
    }
}
