@import "base/_vars.scss";

.mobileapp{
    padding-top: clamp(6.25rem, 5.675rem + 2.45vw, 7.5rem);
    position: relative;
    &:before{
        position: absolute;
        position: absolute;
        content:"";
        width: 579px;
        height: 582px;
        bottom: 0;
        left: 0;
        filter: blur(280px);
        background: var(--color-blur);
        z-index: -1;
        opacity: 0.3;
    }
    &__inner{
        display: flex;
        gap:29px;
        align-items: center;
    }
    &__content{
        flex-basis: 525px;
        display: flex;
        flex-direction: column;
        gap:clamp(0.625rem, 0.05rem + 2.45vw, 1.875rem);
    }
    &__title{
        @extend %title;
    }
    &__text{
        max-width: 360px;
        margin-bottom: clamp(0rem, -0.863rem + 3.68vw, 1.875rem);
    }
    &__linkbox{
        display: flex;
        gap:20px;
    }
    &__link{
        display: flex;
        align-items: center;
        gap:7px;
        padding: 10px;
        background-color: #f1f1f1;
        transition: all 1s;
        border-radius: $borderRadiusCard;
        &:hover{
            background-color: $accent-color;
        }
    }
    &__link-info{
        display: flex;
        flex-direction: column;
        color:#000;
        @extend %Gilroy-700;
    }
    &__link-title{
        @extend %Gilroy-700;
    }
    &__link-text{
        text-transform: capitalize;
    }
    &__img{
        position: relative;
        &:before{
            position: absolute;
            content:"";
            width: 943px;
            height: 948px;
            filter: blur(280px);
            background: var(--color-blur);
            z-index: -1;
            opacity: 0.5;
        }
    }
    @media(max-width:960px){
        &__img{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    @media(max-width:640px){
        &__inner{
            flex-direction: column;
        }
        &__content{
            flex-basis: auto;
        }
        &__linkbox{
            justify-content: center;
        }
    }   
}